/* CSS for the travel recommendation web application */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial";
    background-color: aliceblue;
}

.top-nav {
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

.top-nav-element {
    display: inline-block;
    padding: 4px 16px
}

.top-nav-element:hover {
    background-color: #c9c7c7;
}

.nav-link {
    text-decoration: none;
}

.delius-swash-caps {
    font-family: 'Delius Swash Caps', cursive;
}

.col-chocolate {
    color: chocolate;
}

.search {
    margin-right: 2px;
}