/* CSS for the travel recommendation web application */
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial";
    background-color: aliceblue;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

.top-nav {
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav-element {
    display: inline-block;
    padding: 4px 16px;
}

.top-nav-element:hover {
    background-color: #c9c7c7;
}

.side-nav {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    background-color: #f0f0f0;
    padding: 10px 0;
    border-radius: 0 10px 10px 0;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-element {
    margin-bottom: 5px;
}

.social-icon {
    width: 30px;
    height: auto;
    display: block;
}

.nav-link {
    text-decoration: none;
}

.delius-swash-caps {
    font-family: 'Delius Swash Caps', cursive;
}

.col-chocolate {
    color: chocolate;
}

.search {
    margin-right: 2px;
}